@using Project.DAL.Entities;
@model List<Course>
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input id="input-search" type="search" placeholder="Search..." name="search" />
                        <div id="course"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Courses")
        </div>
    </div>
</div>
@section scripts
    {
    <script>
        $(document).on('keyup', '#input-search', function () {
            var searchedCourse = $(this).val();
            console.log(searchedCourse)

            $.ajax({
                method: "GET",
                url: "/course/search?searchText=" + searchedCourse,
                success: function (html) {
                    console.log(html);
                    $("#course").html(html);
                }
            });
        })

    </script>

}
