@model ContactViewModel
@{
    var contact = Model.Contact;
}
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>contact</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Contact Start -->

<div class="contact-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="contact-contents text-center">
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="~/img/contact/contact1.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            @if (contact is not null)
                            {
                                <p>@contact.Address</p>
                            }
                        </div>
                    </div>
                    <div class="single-contact mb-65">
                        <div class="contact-icon">
                            <img src="~/img/contact/contact2.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>Phone Number</h3>
                            @if (Model is not null)
                            {
                                <p>@contact.PhoneNumber</p>
                            }
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="contact-icon">
                            <img src="~/img/contact/contact3.png" alt="contact">
                        </div>
                        <div class="contact-add">
                            <h3>address</h3>
                            @if (contact is not null)
                            {
                                <p>@contact.WebSite</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="reply-area">
                    <h3>LEAVE A message</h3>
                    <p>@contact.Message </p>
                    <form asp-controller="contact" asp-action="sendmessage" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Name</p>
                                <input asp-for="ContactMessage.Name">
                            </div>
                            <div class="col-md-12">
                                <p>Email</p>
                                <input asp-for="ContactMessage.Email">
                            </div>
                            <div class="col-md-12">
                                <p>Subject</p>
                                <input asp-for="ContactMessage.Subject">
                                <p>Massage</p>
                                <textarea asp-for="ContactMessage.Message" cols="15" rows="10"></textarea>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" data-text="send"><span>Send Message</span></button>
                        <p class="form-messege"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
