
@model ContactMessageReadViewModel
<div class="dropdown-menu dropdown-menu-right">
    <ul class="list-unstyled">
       @foreach (var item in Model.contactMessages)
        {
            <li class="media dropdown-item">
            <span class="success"><i class="ti-user"></i></span>
            <div class="media-body">
                <a href="#">
                    <p>
                        <strong>@item.Name</strong> 
                    </p>
                    <p>@item.Message</p>
                </a>
            </div>
        </li>
        }
        
       
    </ul>
    <a class="all-notification" href="#">
        See all notifications <i class="ti-arrow-right"></i>
    </a>
</div>
