@using Project.DAL.Entities;
@model List<Teacher>
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><u>Teachers List</u></h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-rounded btn-success font-weight-bold" asp-action="create">
                            <span class="btn-icon-left text-success">
                                <i class="fa fa-plus color-success"></i>
                            </span>Add
                        </a>          
                        <div class="table-responsive mt-3">
                            <table class="table mb-0">
                                <thead>
                                    <tr class="text-dark">
                                        @if (Model.Count > 0)
                                        {
                                            <th>IMG</th>
                                            <th>FullName</th>
                                            <th>IsDeleted</th>
                                           
                                        }
                                        else
                                        {
                                            <th>Teachers are Empty</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var teacher in Model)
                                    {

                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <img width="80" height="50" src="~/img/teacher/@teacher.ImageUrl" alt="">
                                                </div>
                                            </td>
                                            <td class="text-dark">@teacher.Fullname</td>
                                         
                                            @if (!teacher.IsDeleted)
                                            {
                                                <td><span class="badge badge-success text-secondary font-weight-bold">Not Deleted</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger text-light">Deleted</span></td>
                                            }
                                            <td>

                                                <a class="btn btn-secondary" asp-action="update" asp-route-id="@teacher.Id">Update</a>
                                                <div style="display:inline-block">
                                                    <form class="forms-sample" method="post" asp-action="Delete" asp-route-id="@teacher.Id">
                                                        <button type="submit" class="btn btn-danger">
                                                            Delete
                                                            <span class="btn-icon-right">
                                                                <i class="fa fa-close"></i>
                                                            </span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
