@model List<FooterUseful>
<div class="content-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><u>Usefuls List</u></h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-rounded btn-success font-weight-bold" asp-action="create">
                            <span class="btn-icon-left text-success">
                                <i class="fa fa-plus color-success"></i>
                            </span>Add
                        </a>
                        <div class="table-responsive mt-3">
                            <table class="table mb-0">
                                <thead>
                                    <tr class="text-dark">
                                        @if (Model.Count > 0)
                                        {

                                            <th>Link Name</th>
                                            <th>IsDeleted</th>

                                        }
                                        else
                                        {
                                            <th>Usefuls are Empty</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var useful in Model)
                                    {

                                        <tr>
                                            <td class="text-dark">@useful.Name</td>

                                            @if (!useful.IsDeleted)
                                            {
                                                <td><span class="badge badge-success text-secondary font-weight-bold">Not Deleted</span></td>
                                            }
                                            else
                                            {
                                                <td><span class="badge badge-danger text-light">Deleted</span></td>
                                            }
                                            <td>

                                                <a class="btn btn-secondary" asp-action="update" asp-route-id="@useful.Id">Update</a>
                                                <div style="display:inline-block">
                                                    <form class="forms-sample" method="post" asp-action="Delete" asp-route-id="@useful.Id">
                                                        <button type="submit" class="btn btn-danger">
                                                            Delete
                                                            <span class="btn-icon-right">
                                                                <i class="fa fa-close"></i>
                                                            </span>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        let btns = document.querySelectorAll(".forms-sample")
        btns.forEach(btn =>
            btn.addEventListener("submit", function (event) {
                event.preventDefault();
                swal({
                    title: "Are you sure?",
                    text: "Once deleted, you will not be able to recover this imaginary file!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            btn.submit(),
                                swal("Poof! Your imaginary file has been deleted!", {
                                    icon: "success",
                                });
                        }
                        else {
                            swal("Your imaginary file is safe!");
                        }
                    });
            }));
    </script>
}